/* === HERO HEADER (Home page) === */

#heroHeader {   
    h2 {
        color: $font-deep-blue !important;
    }

    p {
        color: $font-deep-blue !important;
    }
    
    #slide1 {
        height: $slides-height;
        background-image: url("../medias/headers/Header_Montains.jpg");
        background-size: cover;
    }
    
    #slide2 {
        height: $slides-height;
        background-image: url("../medias/headers/Header_Interview.jpg");
        background-size: cover;
        background-position: 0% 0%;
    }
    
    #slide3 {
        height: $slides-height;
        background-image: url("../medias/headers/Header_Woman1.jpg");
        background-size: cover;
        background-position: 0% 40%;

        @include lessThan-md {
            background-position: 60% 0%;
        }
    }
    
    /* == CAPTIONS (Hero text block) == */
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        background: rgba(255, 255, 255, .55);
        padding: 30px;
        border-radius: 15px;
    }
}