.page-header {
    height: 550px;
}

#about-header {
    background-image: url("../medias/headers/Header_Mountains3.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#podcasts-header {
    background-image: url("../medias/headers/Header_Micro.jpg");
    background-position: 0% 30%;
    background-size: cover;
}

#association-header {
    background-image: url("../medias/headers/Header_Woman2.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#cell-header {
    background-image: url("../medias/headers/Header_Cell.jpg");
    background-position: 50% 0%; // Position for mobile
    background-size: cover;

    @include sm {
        background-position: 0% 80%;
    }
}

#virus-header {
    background-image: url("../medias/headers/Header_Virus.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#miscarriage-header {
    background-image: url("../medias/headers/Header_Woman3.jpg");
    background-position: 50% 50%; // Position for mobile
    background-size: cover;
    
    @include sm {
        background-position: 0% 50%;
    }
}

#ressources-header {
    background-image: url("../medias/headers/Header_Book.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#events-header {
    background-image: url("../medias/headers/Header_Hands.jpg");
    background-position: 60% 80%; // Position for mobile
    background-size: cover;

    @include sm {
        background-position: 0% 80%;
    }
}

#membership-header {
    background-image: url("../medias/headers/Header_Woman4.jpg");
    background-position: 50% 0%;
    background-size: cover;

    @include sm {
        background-position: 0% 20%;
    }
}

#contact-header {
    background-image: url("../medias/headers/Header_Contact.jpg");
    background-position: 60% 20%; // Position for mobile
    background-size: cover;

    @include sm {
        background-position: 0% 20%;
    }
}