.page-header {
    height: 550px;
}

#about-header {
    background-image: url("../medias/headers/Header_Mountains3.jpg");
    background-position: 0% 50%;
    background-size: cover;
}

#podcasts-header {
    background-image: url("../medias/headers/Header_Micro.jpg");
    background-position: 0% 30%;
    background-size: cover;
}