<section class="container-fluid text-center p-5 p-lg-5 bg-info">
    <div class="row g-4">
        <div class="col-12">
            <div class="d-inline-flex flex-column p-3 bg-secondary rounded-4">
                <h2>HELLO !</h2>
                <p>
                    lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.
                    lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.
                </p>
            </div>
        </div>
        <div class="col-12">
            <a href="#" class="btn btn-primary">Contactez-moi</a>
        </div>
    </div> 
</section> 