<section class="normal-section container-fluid text-center p-5 p-lg-5 {{ bg }}">
    <h2 class="d-lg-none mb-5 text-uppercase">Contact</h2>
    <div class="row p-lg-3 bg-danger">
        <div class="col-12 col-lg-6 px-lg-5 bg-success">
            <p>Column 1</p>
        </div>
        <div class="col-12 col-lg-6 px-lg-5 text-start bg-warning">
            <h2 class="d-none d-lg-block mb-5 text-lg-start text-uppercase">Contact</h2>
            <p>Vous pouvez m'envoyer un message en utilisant le formulaire, ou me contacter directement par téléphone ou email. Je m'efforcerai de vous répondre dans les meilleurs délais.</p>
            <ul class="list-unstyled">
                <li><span class="fw-bolder">Nom :</span> Tamara Pellegrini</li>
                <li><span class="fw-bolder">Adresse :</span> Chemin des passants 3</li>
                <li><span class="fw-bolder">E-mail :</span> lesinvisiblesp@gmail.com</li>
            </ul>
        </div>
    </div>
</section>