<section class="normal-section container-fluid text-center p-5 p-lg-5 {{ bg }}">
    <h2 class="d-lg-none mb-5 text-uppercase">Contact</h2>
    <div class="row p-lg-3 bg-danger">
        <div class="col-12 col-lg-6 px-lg-5 mb-5 mb-lg-0 bg-success">
            <form id="contactForm" class="form d-flex flex-column p-4 p-lg-5 rounded-4 gap-4 bg-info" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="first_name" id="id_first_name" class="form-control normal-input" placeholder="Votre nom" required />
                </div>
                <div class="form-group">
                    <input type="text" name="last_name" id="id_last_name" class="form-control normal-input" placeholder="Votre prénom" required />
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="id_email" class="form-control normal-input" placeholder="Votre email" required />
                </div>
                <div class="form-group">
                    <textarea name="message" id="id_message" class="form-control normal-input" rows="4" placeholder="Votre message" required></textarea>
                </div>
                <button type="submit" id="contactFormSubmit" class="btn btn-primary">Submit</button>
                <!--Success or error message box-->
                <div id="successMessage" class="d-none alert alert-success" role="alert">
                    Votre message a bien été envoyé.
                </div>
                <div id="errorMessage" class="d-none alert alert-danger" role="alert"></div>
            </form>
        </div>
        <div class="col-12 col-lg-6 px-lg-5 text-start bg-warning">
            <h2 class="d-none d-lg-block mb-5 text-lg-start text-uppercase">Contact</h2>
            <p>Vous pouvez m'envoyer un message en utilisant le formulaire, ou me contacter directement par téléphone ou email. Je m'efforcerai de vous répondre dans les meilleurs délais.</p>
            <ul class="list-unstyled">
                <li><span class="fw-bolder">Nom :</span> Tamara Pellegrini</li>
                <li><span class="fw-bolder">Adresse :</span> Chemin des passants 3</li>
                <li><span class="fw-bolder">E-mail :</span> lesinvisiblesp@gmail.com</li>
            </ul>
        </div>
    </div>
</section>