<footer id="footer" class="container-fluid">
    <!--SOCIALS BLOCK-->
    <div class="row">
        <div class="col-12 text-center">
            <div class="footer-socials-block">
                <a href="https://www.instagram.com/les_invisibles_podcast/" class="social-icon" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/people/Les-invisibles-podcast-blog/100064898356909/" class="social-icon" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://fr.linkedin.com/" class="social-icon" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://www.youtube.com/@lesinvisiblespodcast4844" class="social-icon" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <!--LINKS BLOCK - THEMATIQUES-->
        <div class="col-12 col-lg-2 text-center">
            <h5 class="text-uppercase text-lg-start my-4">Thématiques</h5>
            <ul class="list-unstyled mb-0 text-lg-start">
                <li>
                    <a href="{% url 'chronic' %}">Maladies Chroniques</a>
                </li>
                <li>
                    <a href="{% url 'invisible' %}">Maladies Invisibles</a>
                </li>
                <li>
                    <a href="{% url 'miscarriage' %}">Fausse couches</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - RESSOURCES-->
        <div class="col-12 col-lg-2 text-center">
            <h5 class="text-uppercase text-lg-start my-4">Ressources</h5>
            <ul class="list-unstyled mb-0 text-lg-start">
                <li>
                    <a href="{% url 'therapeutic-ressources' %}">Thérapeutiques</a>
                </li>
                <li>
                    <a href="{% url 'financial-ressources' %}">Financières</a>
                </li>
                <li>
                    <a href="{% url 'admin-ressources' %}">Administratives</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - ASSOCIATION-->
        <div class="col-12 col-lg-2 text-center">
            <h5 class="text-uppercase text-lg-start my-4">Association</h5>
            <ul class="list-unstyled mb-0 text-lg-start">
                <li>
                    <a href="{% url 'membership' %}">Devenir membre</a>
                </li>
                <li>
                    <a href="{% url 'donation' %}">Faire un don</a>
                </li>
                <li>
                    <a href="{% url 'events' %}">Rendez-vous</a>
                </li>
                <li>
                    <a href="{% url 'status' %}">Status</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - NEWSLETTER-->
        <div class="col-12 col-lg-6 text-center">
            <h5 class="text-uppercase text-lg-start my-4">Inscrivez-vous à la newsletter</h5>
            <form id="newsletterFooter" novalidate>
                <div class="d-flex flex-column flex-lg-row gap-3">
                    <input type="email" id="email-newsletterFooter" class="form-control normal-input" placeholder="Votre e-mail" aria-describedby="emailNewsletter" />
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
                <div id="newsletterFooterSuccessMessage" class="hideMessage alert alert-success mt-4" role="alert"></div>
                <div id="newsletterFooterWarningMessage" class="hideMessage alert alert-warning mt-4" role="alert"></div>
                <div id="newsletterFooterErrorMessage" class="hideMessage alert alert-danger mt-4" role="alert"></div>
            </form>
        </div> 
    </div>
    <!--CREDIT BLOCK-->
    <div class="row">
        <div class="col-12 text-center">
            <p class="credits">© Copyright 2023 Les Invisibles | Designed &amp Coded with love by Alexandre Guillin | All Rights Reserved</p>
        </div>
    </div>
</footer>