<footer id="footer" class="container-fluid">
    <!--SOCIALS BLOCK-->
    <div class="row">
        <div class="col-12 text-center">
            <div class="socials-block">
                <i class="bi bi-instagram social-icons"></i>
                <i class="bi bi-facebook social-icons"></i>
                <i class="bi bi-linkedin social-icons"></i>
                <i class="bi bi-youtube social-icons"></i>
            </div>
        </div> 
    </div>
    <div class="row p-5">
        <!--LINKS BLOCK - THEMATIQUES-->
        <div class="col-md-2 col-sm-12 text-center">
            <h5 class="text-uppercase text-md-start my-4">Thématiques</h5>
            <ul class="list-unstyled mb-0 text-md-start">
                <li>
                    <a href="#!">Maladies Chroniques</a>
                </li>
                <li>
                    <a href="#!">Maladies Invisibles</a>
                </li>
                <li>
                    <a href="#!">Fausse-couches</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - RESSOURCES-->
        <div class="col-md-2 col-sm-12 text-center">
            <h5 class="text-uppercase text-md-start my-4">Ressources</h5>
            <ul class="list-unstyled mb-0 text-md-start">
                <li>
                    <a href="#!">Ressources thérapeutiques</a>
                </li>
                <li>
                    <a href="#!">Ressources financières</a>
                </li>
                <li>
                    <a href="#!">Ressources administratives</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - ASSOCIATION-->
        <div class="col-md-2 col-sm-12 text-center">
            <h5 class="text-uppercase text-md-start my-4">Association</h5>
            <ul class="list-unstyled mb-0 text-md-start">
                <li>
                    <a href="#!">Devenir membre</a>
                </li>
                <li>
                    <a href="#!">Rendez-vous</a>
                </li>
                <li>
                    <a href="#!">Status</a>
                </li>
                <li>
                    <a href="#!">Contact</a>
                </li>
            </ul>
        </div>
        <!--LINKS BLOCK - NEWSLETTER-->
        <div class="col-md-6 col-sm-12 text-center">
            <h5 class="text-uppercase text-md-start my-4">Inscrivez-vous à la newsletter</h5>
            <form>
                <div class="d-flex flex-column flex-md-row gap-3">
                    <input type="email" class="form-control" id="emailInputNewsletter" placeholder="Votre e-mail" aria-describedby="emailNewsletter" />
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
        </div> 
    </div>
    <!--CREDIT BLOCK-->
    <div class="row">
        <div class="col-12 text-center">
            <p class="credits">© Copyright 2023 Les Invisibles | Designed &amp Coded with love by Alexandre Guillin | All Rights Reserved</p>
        </div>
    </div>
</footer>