<!--HERO SLIDER-->
<div id="heroHeader" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="slide1"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">BIENVENUE SUR LE SITE LES INVISIBLES</h2>
                <p class="mb-5">L’association qui donne une voix aux maladies invisibles. Rejoignez-nous pour entendre des témoignages inspirants, suivre des conseils pratiques et découvrir les réalités de celles et ceux qui composent avec des défis de santé invisibles. Écoutez, apprenez et soyez inspiré·es avec « Les Invisibles ».</p>
                <a href={% url 'association' %} class="btn btn-md btn-primary">DÉCOUVRIR</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide2"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">DÉCOUVREZ LE PODCAST</h2>
                <p class="mb-5">Écoutez des histoires inspirantes, des conseils et des informations précieuses pour mieux comprendre ces conditions souvent incomprises. Sensibilisez-vous et trouvez des ressources utiles. Écoutez le podcast les Invisibles dès maintenant !</p>
                <a href={% url 'podcasts' %}  class="btn btn-md btn-primary">ÉCOUTEZ</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide3"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">DEVENEZ MEMBRE</h2>
                <p class="mb-5">En rejoignant notre association, vous apportez un soutien essentiel à notre mission de sensibilisation aux maladies invisibles et à leurs conséquences souvent méconnues. Votre adhésion nous permettra de continuer à produire des podcasts informatifs et inspirants, qui éclairent le public sur ces conditions et contribuent à briser les stéréotypes.</p>
                <a href="#" class="btn btn-md btn-primary">ADHÉREZ</a>
            </div>
        </div>
        <button class="carousel-control-prev desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="prev">
            <span><i class="bi bi-chevron-left" aria-hidden="true"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="next">
            <span><i class="bi bi-chevron-right" aria-hidden="true"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>