<!--HERO SLIDER-->
<div id="heroHeader" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="slide1"></div>
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">BIENVENUE SUR LE SITE LES INVISIBLES</h2>
                <p class="mb-5">L’association qui donne une voix aux maladies invisibles. Rejoignez-nous pour entendre des témoignages inspirants, suivre des conseils pratiques et découvrir les réalités de celles et ceux qui composent avec des défis de santé invisibles. Écoutez, apprenez et soyez inspiré·es avec « Les Invisibles ».</p>
                <a href="#" class="btn btn-md btn-primary">Learn More</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide2"></div>
        </div>
        <div class="carousel-item">
            <div id="slide3"></div>
        </div>
        <button class="carousel-control-prev desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="prev">
            <span><i class="bi bi-chevron-left" aria-hidden="true"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="next">
            <span><i class="bi bi-chevron-right" aria-hidden="true"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>