<!--HERO SLIDER-->
<div id="heroHeader" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="slide1"></div>
            <div class="carousel-caption d-md-block">
                <h2 class="mb-md-4">Lorem ipsum</h2>
                <p class="mb-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac ex porttitor, sodales odio quis, convallis arcu. Sed id nisi fringilla, eleifend enim nec, aliquet purus. Nam non faucibus nisl, eu interdum nibh. Proin tempus ac urna interdum rutrum. Vestibulum auctor nulla vitae mauris scelerisque rhoncus. Proin aliquet purus non massa scelerisque, laoreet ullamcorper sapien pulvinar. Ut rutrum nulla non fringilla auctor</p>
                <a href="#" class="btn btn-md btn-primary">Learn More</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide2"></div>
        </div>
        <div class="carousel-item">
            <div id="slide3"></div>
        </div>
        <button class="carousel-control-prev desktop-arrow" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next desktop-arrow" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>