<!--NAV-->
{% load static %}
{% with request.resolver_match.url_name as url_name %}
<nav class="navbar navbar-expand-lg py-sm-3 py-lg-1 fixed-top">
    <div class="container-fluid">
        <!-- MOBILE HAMBURGER MENU -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- OFFCANVA -->
        <div class="offcanvas offcanvas-start"
             tabindex="-1"
             id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <!-- OFFCANVA LOGO -->
            <div class="offcanvas-header px-4">
                <img class="offcanvas-title"
                     id="offcanvasNavbarLabel"
                     src={% static "website/medias/LogoInvisible.gif" %}
                     alt="Bootstrap"
                     width="120"
                     height="120" />
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- NAVBAR MENU -->
                <ul class="navbar-nav justify-content-center align-items-lg-center flex-grow-1 pe-3">
                    <li class="nav-item px-4" id="offset-li">
                        <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href={% url 'home' %}>Home</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">À propos</a>
                    </li>
                    <!-- THEMATIQUES DROPDOWN -->
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link {% if url_name == 'thematiques' %}active{% endif %} dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Thématiques</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item py-2" href={% url 'invisible' %}>Maladies invisibles</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href={% url 'chronic' %}>Maladies chroniques</a>
                            </li>
                            {% comment %} <li>
                                <a class="dropdown-item py-2" href={% url 'miscarriage' %}>Fausses couches</a>
                            </li> {% endcomment %}
                        </ul>
                    </li>
                    <!-- LOGO NAV -->
                    <li class="nav-item px-4">
                        <a class="nav-link" id="navLogo" href={% url 'home' %}>
                            <img src={% static "website/medias/LogoInvisible.gif" %}
                                alt="Bootstrap"
                                width="120"
                                height="120" />
                        </a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link {% if url_name == 'podcasts' %}active{% endif %}" href={% url 'podcasts' %}>Podcasts</a>
                    </li>
                    <!-- RESSOURCES DROPDOWN -->
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link {% if url_name == 'ressources' %}active{% endif %} dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Ressources</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item py-2" href="{% url 'therapeutic-ressources' %}">Thérapeutiques</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href={% url 'admin-ressources' %}>Administratives</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href="{% url 'financial-ressources' %}">Bibliothèque</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link {% if url_name == 'association' %}active{% endif %} dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">Association</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item py-2" href="{% url 'association' %}">Présentation</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2" href={% url 'membership' %}>Devenir membre</a>
                            </li>
                        </ul>
                    </li>
                    {% comment %} <li class="nav-item px-4">
                        <a class="nav-link {% if url_name == 'association' %}active{% endif %}" href={% url 'association' %}>Association</a>
                    </li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endwith %}