<section class="container-fluid text-center mt-md-5 bg-info">
    <h2 class="py-3 mobile-sectionTitle">{{ data.title }}</h2>
    <div class="row justify-content-evenly bg-warning">
        <div class="col-lg-5 px-5 px-lg-0 pb-3 text-start bg-danger">
            <h2 class="py-3 desktop-sectionTitle text-uppercase bg-primary">{{ data.title }}</h2>
            {{ data.text|linebreaks }}
            {% if data.custom_html %}
                <div>
                    {{ data.custom_html|safe }}
                </div>
            {% endif %}  
        </div>
        <div class="col-lg-5 px-5 px-lg-0 my-md-auto bg-success">
            {% comment %} <div class="imageBlock" /> {% endcomment %}
            <img src={{ data.image.url }} class="img-fluid" alt="..." />
            {% comment %} <p>{{ data.image }}</p> {% endcomment %}
        </div>
    </div>
</section>