<section class="container-fluid text-center py-md-5 bg-info">
    <h2 class="py-3 mobile-sectionTitle">{{ title }}</h2>
    <div class="row justify-content-evenly bg-warning">
        <div class="col-lg-5 px-5 px-lg-0 pb-3 text-start bg-danger">
            <h2 class="py-3 desktop-sectionTitle bg-primary">{{ title }}</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis mollis venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis lobortis vulputate est nec suscipit. Sed eleifend, ex ac euismod porttitor, orci felis hendrerit leo, vitae volutpat magna orci at velit. Sed vehicula tempor diam, eu porta arcu vulputate feugiat. Nunc iaculis faucibus ligula sit amet ultricies. Aenean venenatis placerat lorem eu ornare. Cras eget diam et nibh cursus imperdiet in vel nulla. Nullam nunc ante, sollicitudin efficitur vestibulum ut, faucibus et elit. Fusce maximus tellus a quam iaculis gravida.
            </p>
            <p>
                Donec lacinia nibh sit amet semper vulputate. Aliquam auctor nisl sodales turpis aliquet blandit. Fusce at augue vel risus lobortis vehicula. Aenean fringilla commodo neque, vitae tempor dolor ornare ut. Sed tristique neque diam, non condimentum ex malesuada in. Nunc non condimentum mi. Nam finibus luctus est, ut venenatis diam rhoncus eget. Pellentesque vitae justo sed sapien tristique pellentesque.
            </p>
            <p>
                Etiam a laoreet urna. Quisque ac quam feugiat augue convallis lobortis. Praesent sodales nibh tellus, vitae finibus orci tristique et. Nulla nisl enim, congue vitae lorem ut, luctus volutpat augue. Pellentesque dignissim lorem venenatis urna ultricies, a consectetur lorem pharetra. Donec tempus quam diam, ut tincidunt justo consectetur interdum. Mauris facilisis, mi quis interdum faucibus, nisi ligula consectetur dui, vitae faucibus ex leo eget tortor. Sed suscipit est ut dui auctor, volutpat condimentum justo efficitur. Sed mattis fringilla erat, vitae pretium urna semper eget. Sed a velit sed nisl aliquet finibus nec non mi. Integer bibendum finibus venenatis. Pellentesque vel ipsum urna. Maecenas mollis ex purus. Cras porttitor blandit magna quis mollis. Vivamus nec lacus non turpis condimentum eleifend sed vel turpis.
            </p>
        </div>
        <div class="col-lg-5 px-5 px-lg-0 my-md-auto bg-success">
            <div class="imageBlock" />
        </div>
    </div>
</section>