<!--PODCAST SECTION FOR LARGE SCREENS-->
<section class="d-none d-lg-block container-fluid text-center pt-5 px-5 {{ bg }}">
    <!--Spinner-->
    <div class="load-spinner d-none spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <!--Error message (if no podcast)-->
    {% include "website/components/no-podcasts-error.html" %}
    <div class="row">
        <div id="PodCarousel-large"
             class="carousel slide d-none d-lg-block pt-2 px-lg-4"
             data-bs="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#PodCarousel-large"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-bs-target="#PodCarousel-large"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- Slide 1 content -->
                    <div class="row mb-5">
                        <div class="lastPodcast1 col-lg-6 d-flex justify-content-center mb-4 px-5"></div>
                        <div class="lastPodcast2 col-lg-6 d-flex justify-content-center mb-4 px-5"></div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Slide 2 content -->
                    <div class="row mb-5">
                        <div class="lastPodcast3 col-lg-6 d-flex justify-content-center mb-4 px-5"></div>
                        <div class="lastPodcast4 col-lg-6 d-flex justify-content-center mb-4 px-5"></div>
                    </div>
                </div>
            </div>
            <!-- Controls (To erase if no arrows are needed) -->
            {% comment %} <button class="carousel-control-prev desktop-arrow" type="button" data-bs-target="#PodCarousel-large" data-bs-slide="prev">
                <span><i class="bi bi-chevron-left" aria-hidden="true"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next desktop-arrow" type="button" data-bs-target="#PodCarousel-large" data-bs-slide="next">
                <span><i class="bi bi-chevron-right" aria-hidden="true"></i></span>
                <span class="visually-hidden">Next</span>
            </button> {% endcomment %}
        </div>
    </div>
</section>
<!-- PODCAST SECTION FOR MEDIUM/SMALL SCREEN -->
<section id="mobile-section"
         class="d-lg-none container-fluid text-center pt-5 px-5 {{ bg }}">
    <!--Spinner-->
    <div class="load-spinner d-none spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <!--Error message (if no podcast)-->
    {% include "website/components/no-podcasts-error.html" %}
    <div class="row">
        <!-- SLIDER FOR MEDIUM/SMALL SCREEN -->
        <div id="PodCarousel-small"
             class="carousel slide d-lg-none pb-4"
             data-bs="carousel">
            <!-- Indicators -->
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#PodCarousel-small"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button"
                        data-bs-target="#PodCarousel-small"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button"
                        data-bs-target="#PodCarousel-small"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button"
                        data-bs-target="#PodCarousel-small"
                        data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- Slide 1 content -->
                    <div class="row mb-5">
                        <div class="col-12 d-flex justify-content-center">
                            <!-- Card 1 content for medium/large screens -->
                            <div class="lastPodcast1 d-flex justify-content-center"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Slide 2 content -->
                    <div class="row mb-5">
                        <div class="col-12 d-flex justify-content-center">
                            <!-- Card 2 content for medium/large screens -->
                            <div class="lastPodcast2 d-flex justify-content-center"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Slide 3 content -->
                    <div class="row mb-5">
                        <div class="col-12 d-flex justify-content-center">
                            <!-- Card 3 content for medium/large screens -->
                            <div class="lastPodcast3 d-flex justify-content-center"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- Slide 4 content -->
                    <div class="row mb-5">
                        <div class="col-12 d-flex justify-content-center">
                            <!-- Card 4 content for medium/large screens -->
                            <div class="lastPodcast4 d-flex justify-content-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
