<div id="videos-carousel" class="carousel slide pb-4">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#videos-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#videos-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row mb-5">
                <div class="col-12 d-flex justify-content-center">
                    <!-- Card 1 content for medium/large screens -->
                    <iframe class="videos" src="https://www.youtube.com/embed/9HGx8n0yLbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row mb-5">
                <div class="col-12 d-flex justify-content-center">
                    <!-- Card 2 content for medium/large screens -->
                    <iframe class="videos" src="https://www.youtube.com/embed/gVH58Fio3nE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#videos-carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#videos-carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
