{% if videos %}
    <section class="container-fluid container-fluid text-center pt-5 px-5 {{ bg }}">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mb-5 text-uppercase">Vidéos</h2>
                <div id="videos-carousel" class="carousel slide pb-4">
                    <div class="carousel-indicators">
                        {% for video in videos %}
                            {% if videos.count > 1 %}
                                <button type="button" data-bs-target="#videos-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for video in videos %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row mb-5">
                                    <div class="col-12 d-flex justify-content-center">
                                        <iframe class="videos" src="{{ video.video_url }}" title="{{ video.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endif %}