<!--About Section component of the website, couldn't use generic section beaucose of django tag-->
<section class="normal-section container-fluid text-center p-5 {{ bg }}">
    <h2 class="d-lg-none {{ data.image|yesno:"mb-5, mb-0" }} text-uppercase">{{ data.title }}</h2>
    <div class="row p-lg-3">
        {% if data.image %}
        <div class="col-12 col-lg-6 px-lg-5 d-md-flex align-items-md-center {{ data.reverse|yesno:"order-lg-1, order-lg-2 , order-lg-2" }}">
            <img src="{{ data.image.url }}" class="img-fluid rounded-4" alt="{{ data.image_alt }}" title="{{ data.image_title }}" width="" height="" />
        </div>
        {% endif %}
        <div class="col-12 {{ data.image|yesno:"col-lg-6, col-lg-12" }} px-lg-5 {{ data.reverse|yesno:"order-lg-2, order-lg-1 , order-lg-1" }}">
            <h2 class="d-none d-lg-block mb-5 text-lg-start text-uppercase">{{ data.title }}</h2>
            <div class="section-text mt-5 mt-lg-0 mb-5 text-lg-start">
                {{ data.richText|safe }}
            </div>
            <div class="d-flex flex-column gap-5">
                <a href={% url 'about' %} class="btn btn-md btn-primary">En savoir plus</a>
                <div class="socials-group">
                    <a href="https://www.instagram.com/les_invisibles_podcast/" class="social-link" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.facebook.com/people/Les-invisibles-podcast-blog/100064898356909/" class="social-link" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://fr.linkedin.com/" class="social-link" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="https://www.youtube.com/@lesinvisiblespodcast4844" class="social-link" target="_blank"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>