<section class="normal-section container-fluid text-center p-5 p-lg-5 {{ bg }}">
    <!--Mobile-->
    <h2 class="d-lg-none mb-5 text-uppercase">{{ data.title }}</h2>
    <p class="d-lg-none text-center text-lg-start mb-5">{{ data.text }}</p>
    <div class="row p-lg-3">
        <div class="col-12 col-lg-6 px-lg-5 mb-5 mb-lg-0">
            <!--Contact form-->
            <form id="{{ formID }}" class="form d-flex flex-column p-4 p-lg-5 rounded-4" novalidate>
                {% csrf_token %}
                <div class="form-group mb-4">
                    <input type="text" name="first_name" id="first_name_{{ formID }}" class="form-control normal-input" placeholder="Votre prénom" required />
                </div>
                <div class="form-group mb-4">
                    <input type="text" name="last_name" id="last_name_{{ formID }}" class="form-control normal-input" placeholder="Votre nom" required />
                </div>
                <div class="form-group mb-4">
                    <input type="email" name="email" id="email_{{ formID }}" class="form-control normal-input" placeholder="Votre email" required />
                </div>
                <div class="form-group mb-4">
                    <textarea name="message" id="message_{{ formID }}" class="form-control normal-input" rows="4" placeholder="Votre message" required></textarea>
                </div>
                <div id="recaptcha-container_{{ formID }}" class="mb-4" data-size="invsible"></div>
                <button type="submit" id="contactFormSubmit_{{ formID }}" class="btn btn-primary">
                    <span class="submit-text">Envoyer</span>
                    <div class="spinner-border text-light submit-spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <!--Success or error message box-->
                <div id="successMessage" class="hideMessage alert alert-success" role="alert"></div>
                <div id="errorMessage" class="hideMessage alert alert-danger" role="alert"></div>
            </form>
        </div>
        <div class="col-12 col-lg-6 px-lg-5 text-start">
            <h2 class="d-none d-lg-block mb-5 text-lg-start text-uppercase">{{ data.title }}</h2>
            <p class="d-none d-lg-block text-center text-lg-start">{{ data.text }}</p>
            <ul class="list-unstyled text-center text-lg-start">
                <li><span class="fw-bolder">Nom :</span> {{ data.name }}</li>
                <li><span class="fw-bolder">Adresse :</span> {{ data.address }}</li>
                <li><span class="fw-bolder">Téléphone :</span> {{ data.phone }}</li>
                <li><span class="fw-bolder">E-mail :</span> {{ data.email }}</li>
            </ul>
        </div>
    </div>
</section>