<!--HERO SLIDER-->
<div id="heroHeader" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#heroHeader" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="slide1"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">BIENVENUE SUR LE SITE LES INVISIBLES</h2>
                <p class="mb-5">l’Association qui donne une voix aux personnes qui vivent avec des maladies invisibles. Rejoignez-nous pour entendre des témoignages inspirants, accéder à des ressources et des outils pour améliorer la qualité de vie des personnes malades et de leur entourage et visibiliser l’invisible à nos côtés. Écoutez, apprenez et soyez inspiré·es avec Les invisibles.</p>
                <a href={% url 'association' %} class="btn btn-md btn-primary">DÉCOUVRIR</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide2"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">DÉCOUVREZ LE PODCAST</h2>
                <p class="mb-5">Écoutez les témoignages inspirants de celles et ceux qui composent avec des défis de santé invisibles. Laissez-vous guider par des méditations spécialement conçues pour répondre aux besoins des personnes malades. Explorez leurs perspectives sur des questions liées au couple, à l’administration, et aux outils qui influencent leur qualité de vie. Plongez dans l’univers du podcast Les invisibles dès maintenant !</p>
                <a href={% url 'podcasts' %}  class="btn btn-md btn-primary">ÉCOUTEZ</a>
            </div>
        </div>
        <div class="carousel-item">
            <div id="slide3"></div>
            <!--Text block-->
            <div class="carousel-caption d-md-block">
                <h2 class="mb-5">DEVENEZ MEMBRE</h2>
                <p class="mb-5">Devenez membre de l’Association Les invisibles pour exprimer votre solidarité envers une cause qui mérite d’être portée et bénéficiez d’avantages exclusifs ! Votre adhésion nous engage à offrir une voix et des espaces dédiés aux personnes qui vivent avec des maladies invisibles. Votre engagement joue un rôle crucial dans la concrétisation de nos projets, la sensibilisation des sociétés et la création d’un changement tangible dans la qualité de vie des malades invisibles.</p>
                <a href={% url 'membership' %} class="btn btn-md btn-primary">ADHÉREZ</a>
            </div>
        </div>
        <button class="carousel-control-prev desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="prev">
            <span><i class="bi bi-chevron-left" aria-hidden="true"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next desktop-arrow" type="button" data-bs-target="#heroHeader" data-bs-slide="next">
            <span><i class="bi bi-chevron-right" aria-hidden="true"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>