@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nunito:wght@200;400;600;700&display=swap');
@import "global/variables";
@import "global/colors";
@import "global/breakpoints";
@import "components/navbar";
@import "components/headers/hero-header";
@import "components/headers/page-header";
@import "components/footer/footer";
@import "components/podcast/mini-podcast";
@import "components/podcast/podcast-player";
@import "components/callToAction/c2a";
@import "components/blockquote";
@import "components/search-input";
@import "components/ressources-card";
@import "components/event-card";

body {
    color: $font-deep-blue;
    font-family: 'Nunito', sans-serif;

    h1, h2, h5 {
        font-family: 'Cormorant Garamond', serif;
    }

    h2 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    a {
        cursor: pointer;
        color: rgb(146, 147, 153);
        text-decoration: underline;
    }

    // Fixed size button
    .btn-primary {
        border-radius: 15px;
        padding: 12px 0 12px 0;
        width: 160px;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: $font-deep-blue;
        border-color: $font-deep-blue;

        &:hover {
            background-color: lighten($font-deep-blue, 7%);
            border-color: lighten($font-deep-blue, 7%);
        }

        @include lessThan-lg {
            width: 100%;
        }
    }

    .social-icons {
        font-size: 2.5rem;
        color: $font-deep-blue;
        cursor: pointer;

        &:hover {
            color: lighten($font-deep-blue, 7%);
        }
    }

    i {
        font-size: 1.2rem;
        cursor: pointer;
        color: $font-deep-blue;
    }

    .normal-input {
        background-color : transparent;
        border: 1px solid $font-deep-blue;
        
        &:focus {
            border-color: $font-deep-blue;
            box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.3);
        }
    }

    .videos {
        aspect-ratio: 16 / 9;
        width: 100%;
        
        @include lg {
            width: 80%;
        }
    }
}

/* ================ */
/* === SECTIONS === */
/* ================ */

.normal-section {
    .section-text {
        p:last-child {
            // To have maximum control over element spacing (and avoid weird margins)
            margin-bottom: 0;
        }
    }

    // Used in about section
    .socials-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8%;
    
        @include lessThan-lg {
            justify-content: space-between;
        }
    }
}

// Section background color gradients
.bg-light-beige {
    background: linear-gradient(180deg, rgba(255, 246, 238, 1) 0%, rgba(252, 246, 236, 0) 100%);
}

.bg-light-green {
    background: linear-gradient(180deg, rgba(238, 243, 239, 1) 0%, rgba(252, 246, 236, 0) 100%);
}


/* ============ */
/* === FORM === */
/* ============ */

#contactForm {
    background-image: url("../medias/headers/Header_Woman1.jpg");
    background-size: 270%;
    background-position: 100% 95%;
    border: .5px solid #000000;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.hideMessage {
    height: 0;
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    transition: all 1s ease-out;
    opacity: 0;
    overflow: hidden;    
}

.showMessage {
    height: auto;
    transition: all 1s ease-out;
    padding: 20px !important;
    margin: 20px 0 20px 0 !important;
    opacity: 1;
    overflow: hidden;
}

/* ================ */
/* === CONTROLS === */
/* ================ */

/* Arrows */
.desktop-arrow {
    /* Hide arrows on mobile */
    .bi-chevron-left, .bi-chevron-right {
        color: $font-deep-blue !important;
        font-size: 2rem !important;
    }

    @include lessThan-lg {
        display: none;
    }
}

/* Rounded indicators */
.carousel-indicators {
    button {
        background-color: $font-deep-blue !important;
        width: 15px !important;
        height: 15px !important;
        border-radius: 100% !important;
        margin-right: 20px !important;
    
        &:last-child { 
            margin-right: 0 !important;
        }
    }    
}