.small-podcast-card {
    width: 550px;
    height: 400px;
}

#podcast-thumbnail {
    border-radius: 100%;
}

.slider_container {
    display: flex;
    align-items: center;
    gap: 10px;
    .current-time, .total-duration {
        font-size: 0.7rem;
    }
}

/* ====== SLIDER ====== */

.seek_slider {
    // Range Reset
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8rem;

    // Removes default focus
    &:focus {
        outline: none;
    }

    /*** Track style ***/
    // Chrome, Safari, Opera, and Edge Chromium
    &::-webkit-slider-runnable-track {
        background: #053a5f;
        height: 0.4rem;
    }

    // Firefox
    &::-moz-range-track {
        background: #053a5f;
        height: 0.4rem;
    }

    /*** Thumb Styles ***/
    // Chrome, Safari, Opera, and Edge Chromium
    &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -4px; /* Centers thumb on the track */
        background-color: #5cd5eb;
        height: 1rem;
        width: 0.4rem;    
    }

    // Firefox
    &::-moz-range-thumb {
        border: none; /*Removes extra border that FF applies*/
        border-radius: 0; /*Removes default border-radius that FF applies*/
        background-color: #5cd5eb;
        height: 1rem;
        width: 0.4rem;
    }
}


// /***** Track Styles *****/
// /* Chrome, Safari, Opera, and Edge Chromium */
// .seek_slider::-webkit-slider-runnable-track {
//     background: #053a5f;
//     height: 0.4rem;
// }
  
// /******** Firefox ********/
// .seek_slider::-moz-range-track {
//     background: #053a5f;
//     height: 0.4rem;
// }

// /***** Thumb Styles *****/
// /* Chrome, Safari, Opera, and Edge Chromium */
// .seek_slider::-webkit-slider-thumb {
//     -webkit-appearance: none; /* Override default look */
//     appearance: none;
//     margin-top: -5px; /* Centers thumb on the track */
//     background-color: #5cd5eb;
//     height: 2rem;
//     width: 1rem;    
//  }

//  /* Firefox */
// .seek_slider::-moz-range-thumb {
//     border: none; /*Removes extra border that FF applies*/
//     border-radius: 0; /*Removes default border-radius that FF applies*/
//     background-color: #5cd5eb;
//     height: 2rem;
//     width: 1rem;
// }

// .slider_container .current-time, .total-duration {
//     font-size: 0.6rem;
// }