#footer {
    background-image: url("../medias/footer/footerbackground.jpg");
    background-size: cover;
    background-position: 0% 50%;
    
    a {
        font-size: 0.9rem;
        color: $font-deep-blue;
        text-decoration: none;
    }

    .footer-socials-block {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        //padding: 60px 20% 60px 20%;
        padding: 60px 0 60px 0;
        max-width: 1200px;
        width: 100%;
        min-width: 260px;
        border-bottom: 0.5px solid $font-deep-blue;
        overflow: hidden;
        
        .social-icon {
            margin-left: 12%; /* Adjust the margin value as needed */
            
            i {
                font-size: 2.2rem;
            }

            // Galaxy Fold
            @media screen and (max-width: 280px) {
                margin-left: 25px;
            }
        }
      
        .social-icon:first-child {
          margin-left: 0;
        }
    }

    .credits {
        font-size: 0.8rem;
    }
}