/* NAVBAR */

nav {
    background-color: rgba(0,0,0,0); /* transparent */
    transition: background-color 500ms;
}

nav.show {
    background-color: $white;
}

/* Navbar links */
.navbar-nav li a {
    color: $font-deep-blue !important;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-nav li > .active {
    color: purple !important;
}

#navLogo {
    display: none;
    @include lg {
        /* Make logo disappear in offcanvas */
        display: inline-block;
    }
}