<div class="col-12">
    <div class="bubble-bg d-inline-flex flex-column p-3 rounded-4">
        <h2>Inscrivez-vous à la newsletter</h2>
        <p>Inscrivez-vous à notre newsletter pour rester informé des dernières nouvelles, des événements et des ressources de notre association. En vous abonnant, vous recevrez régulièrement des mises à jour directement dans votre boîte mail.</p>
        <p>Notre newsletter est un moyen fantastique de rester connecté à notre communauté et de vous tenir informé des derniers développements dans le domaine de la santé. Vous pourrez également découvrir des conseils pratiques et des histoires inspirantes de personnes qui vivent avec une maladie chronique/invisible.</p>
    </div>
</div>
<div class="col-12">
    <a href="#" class="btn btn-primary">Contactez-moi</a>
</div>