<div class="col-12">
    <div class="bubble-bg d-inline-flex flex-column p-3 rounded-4">
        <h2 class="text-uppercase mb-5">Nos rendez-vous</h2>
        <p>Bienvenue dans la section événement de notre association ! Nous sommes ravis de vous présenter les événements à venir qui nous permettront de sensibiliser le grand public à propos des maladies invisibles et de soutenir les personnes qui en souffrent.</p>
    </div>
</div>
<div class="col-12">
    <a href="#" class="btn btn-md btn-primary">Voir les RDV</a>
</div>