@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nunito:wght@200&display=swap"); /* NAVBAR */
nav {
  background-color: rgba(0, 0, 0, 0); /* transparent */
  transition: background-color 500ms;
  /* Navbar links */
}
nav .navbar-nav li a {
  color: #002E48 !important;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
nav .navbar-nav li > .active {
  color: purple !important;
}
nav #navLogo {
  display: none;
}
@media screen and (min-width: 992px) {
  nav #navLogo {
    /* Make logo disappear in offcanvas */
    display: inline-block;
  }
}
nav .navbar-toggler {
  border-color: #002E48;
  color: #002E48;
}
nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,46,72, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
nav .offcanvas {
  /* Make menu width 100% on mobile */
}
@media screen and (max-width: 768px) {
  nav .offcanvas {
    width: 100% !important;
  }
}

nav.show {
  background-color: #ffffff;
}

/** Remove legacy code below if navbar is working properly **/
/* === HERO HEADER (Home page) === */
#heroHeader {
  /* == CONTROLS == */
  /* Arrows */
  /* Rounded indicators */
  /* == CAPTIONS (Hero text block) == */
}
#heroHeader h2 {
  color: #002E48 !important;
}
#heroHeader p {
  color: #002E48 !important;
}
#heroHeader #slide1 {
  height: 800px;
  background-image: url("../medias/headers/Header_Montains.jpg");
  background-size: cover;
}
#heroHeader #slide2 {
  height: 800px;
  background-image: url("../medias/headers/Header_Interview.jpg");
  background-size: cover;
  background-position: 0% 0%;
}
#heroHeader #slide3 {
  height: 800px;
  background-image: url("../medias/headers/Header_Woman1.jpg");
  background-size: cover;
  background-position: 0% 40%;
}
@media screen and (max-width: 768px) {
  #heroHeader #slide3 {
    background-position: 60% 0%;
  }
}
#heroHeader .desktop-arrow {
  /* Hide arrows on mobile */
}
#heroHeader .desktop-arrow .bi-chevron-left, #heroHeader .desktop-arrow .bi-chevron-right {
  color: #002E48;
  font-size: 2rem;
}
@media screen and (max-width: 992px) {
  #heroHeader .desktop-arrow {
    display: none;
  }
}
#heroHeader .carousel-indicators button {
  background-color: #002E48;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 20px;
}
#heroHeader .carousel-indicators button:last-child {
  margin-right: 0;
}
#heroHeader .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  background: rgba(255, 255, 255, 0.55);
  padding: 30px;
  border-radius: 15px;
}

#footer {
  background-image: url("../medias/footer/footerbackground.jpg");
  background-size: cover;
  background-position: 0% 50%;
}
#footer a {
  font-size: 0.9rem;
  color: #002E48;
  text-decoration: none;
}
#footer .footer-socials-block {
  display: inline-flex; /* must be inline to be centered in bs column */
  justify-content: center;
  align-items: center;
  padding: 60px 20% 60px 20%;
  gap: 40%;
  border-bottom: 0.5px solid #002E48;
}
#footer .footer-socials-block .social-icons {
  font-size: 2.2rem;
  color: #002E48;
}
#footer #emailInputNewsletter {
  background-color: transparent;
  border: 1px solid #002E48;
}
#footer #emailInputNewsletter:focus {
  border-color: #002E48;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.3);
}
#footer .credits {
  font-size: 0.8rem;
}

.small-podcast-card {
  width: 550px;
  height: 400px;
}

#podcast-thumbnail {
  border-radius: 100%;
}

.podControlsGroup .podPlayBtn {
  font-size: 3rem;
  cursor: pointer;
}
.podControlsGroup .backTenBtn {
  font-size: 1.8rem;
  cursor: pointer;
}
.podControlsGroup .forwardTenBtn {
  font-size: 1.8rem;
  cursor: pointer;
}

.podcast-date, .podcast-time {
  font-size: 0.8rem;
}

.slider_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider_container .current-time, .slider_container .total-duration {
  font-size: 0.7rem;
}

/* ====== SLIDER ====== */
.seek_slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
  /*** Track style ***/
  /*** Thumb Styles ***/
}
.seek_slider:focus {
  outline: none;
}
.seek_slider::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.4rem;
}
.seek_slider::-moz-range-track {
  background: #053a5f;
  height: 0.4rem;
}
.seek_slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #053a5f;
  height: 1rem;
  width: 0.4rem;
}
.seek_slider::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #053a5f;
  height: 1rem;
  width: 0.4rem;
}

body {
  color: #002E48;
  font-family: "Nunito", sans-serif;
}
body h2, body h5 {
  font-family: "Cormorant Garamond", serif;
}
body h2 {
  font-size: 1.6rem;
}
body h5 {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
body .btn-primary {
  border-radius: 15px;
  padding: 12px 0 12px 0;
  width: 160px;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #002E48;
  border-color: #002E48;
}
body .btn-primary:hover {
  background-color: #003e62;
  border-color: #003e62;
}
@media screen and (max-width: 992px) {
  body .btn-primary {
    width: 100%;
  }
}

.mobile-sectionTitle {
  /* Show mobile title on mobile */
}
@media screen and (min-width: 992px) {
  .mobile-sectionTitle {
    display: none;
  }
}

.desktop-sectionTitle {
  /* Hide desktop title on mobile */
}
@media screen and (max-width: 992px) {
  .desktop-sectionTitle {
    display: none;
  }
}

.socials-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  align-items: center;
  gap: 10%;
}
@media screen and (max-width: 992px) {
  .socials-group {
    justify-content: space-between;
    margin-top: 15px;
  }
}
.socials-group .social-icons {
  font-size: 2.8rem;
  color: #002E48;
}