$podcast-col-padding: 10px;
$big-podcast-col-padding: 5%;
$alt-breakpoint-min: 992px;
$alt-breakpoint-max: 1190px;

// Custom spinner animation
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.podcast-player {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-width: 280px;
    height: 800px;
    padding: 20px;
    background-color: $light-beige;
    border-radius: 15px;
    overflow: hidden;
    border: 0.5px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

    @include md {
        height: 490px;
    }

    /* ====== COLUMN 1 ====== */
    .col-one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // min-width: 220px;
        height: 100%;
        padding: $podcast-col-padding;

        @include md {
            width: 45%;
        }
        
        .podcast-image {
            width: 100%;
            min-width: 120px;
            max-width: 235px;
            height: auto;
            border-radius: 15px;
        }

        .audio-ctrl-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .playPause-btn {
                font-size: 3rem;
                cursor: pointer;
            }

            .load-icon {
                margin: 13px 2px 13px 2px; // Imitates playPause-btn margin
                width: 45px;
                height: 45px;
                border: 3px solid #ccc;
                border-top-color: $font-deep-blue;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }

        }

        .mobile-text-group {
            display: block;

            h4 {
                margin-bottom: 20px;
            }

            .mobile-podcast-description {
                font-size: 0.9rem;
                text-align: center;
                max-height: 220px;
                padding: 10px; // To avoid overflow on scroll bar
                overflow: auto;

                p {
                    &:last-of-type {
                        display: inline;
                        // margin-bottom: 0;
                    }
                }

                a {
                    cursor: pointer;
                    margin-left: 10px;
                    color: rgb(146, 147, 153);
                    text-decoration: underline;
                }
            }

            @include md {
                display: none;
            }
        }

        .seek-bar-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            @media only screen and (min-width: $alt-breakpoint-min) and (max-width: $alt-breakpoint-max) {
                flex-direction: column;
            }

            .seek-bar {
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                cursor: pointer;
                width: 8rem;
                height: 2px;
                border-radius: 5px;
                outline: none;
                background-color: #ccc;
                transition: background-color 0.2s;

                // Shrinks slider on range to avoid overflow
                @media only screen and (min-width: 1190px) and (max-width: 1330px) {
                    width: 6rem;
                }
            }

            .seek-bar::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $font-deep-blue;
                cursor: pointer;
            }

            .seek-bar::-moz-range-thumb {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $font-deep-blue;
                cursor: pointer;
            }

            .current-time, .total-time {
                font-size: 0.8rem;
            }
        }

        .share-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 10px;

            .share-btn {
                font-size: 1.5rem;
                cursor: pointer;
            }

            .speed-btn {
                all: unset;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }

    /* ====== COLUMN 2 ====== */
    .col-two {
        padding: $podcast-col-padding;
        display: none;

        @include md {
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .desktop-text-wrapper {
            
            h4 {
                text-align: start;
                word-wrap: break-word;
                margin-bottom: 20px;
            }

            .podcast-description {
                padding-right: 10px;
                font-size: 0.9rem;
                text-align: start;
                max-height: 275px;
                word-wrap: break-word;
                overflow: auto;

                p {
                    &:last-of-type {
                        display: inline;
                        // margin-bottom: 0;
                    }
                }

                a {
                    cursor: pointer;
                    margin-left: 10px;
                    color: rgb(146, 147, 153);
                    text-decoration: underline;
                }
            }
        }

        .date-wrapper {
            display: flex;
            // justify-content: space-between;
            gap: 10%;
            align-items: center;
            padding-left: 15px;

            .time-group {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 0.8rem;
            }

            .date-group {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 0.8rem;
            }
        }
    }   
}


.big-podcast-player {
    @extend .podcast-player; // Reuse styles from .podcast-player
    padding: 40px;
    width: 80%;

    @include md {
        // max-height: 950px;
        height: auto;
    }

    .col-one {
        justify-content: flex-start;
        gap: 30px;
        

        @include md {
            width: 35%;
        }

        // .podcast-image {
        //     min-width: 100px;
        //     max-width: 20px;
        // }

        .player-controls {
            width: 95%;
            // padding: 20px;
            // border-radius: 15px;
            // background-color: lightcyan;
        }

        .share-container {
            width: 100%;
        }

        .mobile-text-group {
            h4 {
                margin-bottom: 30px;
            }

            .mobile-podcast-description {
                font-size: 1rem;
                max-height: 300px;
            }
        }
    }

    .col-two {
        @include md {
            width: 65%;
            flex-direction: column-reverse;
            justify-content: flex-end;
        }
        .desktop-text-wrapper {
            h4 {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .podcast-description {
                font-size: 1rem;
                height: auto;
                max-height: none;
            }
        }
    }
}