{% load my_templatetags %}
<section class="normal-section container-fluid text-center p-5 {{ bg }}">
    <div class="row">
        <!--FORM-->
        <div class="container text-md-start col-md-7 px-md-5">
            {% if error_messages %}
                <div class="alert alert-warning mb-5" role="alert">
                    <p>Une erreur est survenue lors de l'envoi du formulaire :</p>
                    {{ error_messages | safe }}
                </div>
            {% endif %}
            <form method="post"
                  id="eventRegistrationForm"
                  class="form d-flex flex-column px-4"
                  novalidate>
                {% csrf_token %}
                <div class="mb-4">
                    <h5 class="text-uppercase mb-5">Êtes-vous membre de l'association ?</h5> 
                    {% for radio in form.membership_status %}
                        <div id="member-check" class="form-check">
                            <label class="form-check-label">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>
                        </div>
                    {% endfor %}   
                    <div id="alert-box-non-member"
                         class="alert alert-info mt-4 d-none"
                         role="alert">
                        Si vous n'êtes pas encore membre, pourquoi ne pas <a href={% url 'membership' %} class="alert-link">adhérer aux Invisibles</a> ? Vous soutiendrez ainsi notre cause et bénéficierez de nombreux avantages. Mais aucune obligation ! Vous pouvez aussi participer à nos événements en tant que non-membre.
                    </div>
                    <div id="alert-box-member"
                         class="alert alert-info mt-4 d-none"
                         role="alert">
                        Lors de votre adhésion, vous avez reçu par e-mail <strong>un code promo</strong> pour bénéficier de tarifs préférentiels sur nos événements. <strong>N'oubliez pas de l'indiquer dans le champ prévu à cet effet lors du paiement (colonne de gauche).</strong>
                    </div>
                </div>
                <hr>
                <div class="my-4">
                    <h5 class="text-uppercase mb-5">Tarifs</h5>
                    {% for radio in form.plan %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="my-4">
                    <h5 class="text-uppercase mb-5">Mes coordonées</h5>
                    <div class="my-4">{{ form.fname }}</div>
                    <div class="my-4">{{ form.lname }}</div>
                    <div class="text-start my-4">{{ form.email }}</div>
                    <div class="my-4">{{ form.phone }}</div>
                </div>
                <hr>
                <div class="my-4">
                    <h5 class="text-uppercase mb-5">Mon adresse</h5>
                    <div class="text-start my-4">{{ form.address }}</div>
                    <div class="text-start my-4">{{ form.zip_code }}</div>
                    <div class="text-start my-4">{{ form.city }}</div>
                    <div class="text-start my-4">{{ form.country }}</div>
                </div>
                <div class="text-start my-4">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
        </div>
        {% help_aside %}
    </div>
</section>
