#scrollToTopButton {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    background-color: $font-deep-blue;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    i {
        color: #fff;
    }
}