@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nunito:wght@200&display=swap');
@import "global/variables";
@import "global/colors";
@import "global/breakpoints";
@import "components/navbar";
@import "components/headers/hero-header";
@import "components/footer/footer";
@import "components/podcast-card/mini-podcast";

body {
    color: $font-deep-blue;
    font-family: 'Nunito', sans-serif;

    h2, h5 {
        font-family: 'Cormorant Garamond', serif;
    }

    h2 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    // Fixed size button
    .btn-primary {
        border-radius: 15px;
        padding: 12px 0 12px 0;
        width: 160px;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: $font-deep-blue;
        border-color: $font-deep-blue;

        &:hover {
            background-color: lighten($font-deep-blue, 5%);
            border-color: lighten($font-deep-blue, 5%);
        }

        @include lessThan-md {
            width: 100%;
        }
    }
}

.mobile-sectionTitle {
    /* Show mobile title on mobile */
    @include lg {
        display: none;
    }
}

.desktop-sectionTitle {
    /* Hide desktop title on mobile */
    @include lessThan-lg {
        display: none;
    }
}

// Used in about section
.socials-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    @include lessThan-md {
        justify-content: space-between;
    }
    .social-icons {
        font-size: 2.5rem;
        color: $font-deep-blue;
    }
}