@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nunito:wght@200&display=swap');
@import "global/variables";
@import "global/colors";
@import "global/breakpoints";
@import "components/navbar";
@import "components/headers/hero-header";
@import "components/podcast-card/mini-podcast";

body {
    color: $font-deep-blue;

    h2 {
        font-family: 'Cormorant Garamond', serif;
    }

    p {
        font-family: 'Nunito', sans-serif;
    }    
}

.mobile-sectionTitle {
    /* Show mobile title on mobile */
    @include lg {
        display: none;
    }
}

.desktop-sectionTitle {
    /* Hide desktop title on mobile */
    @include lessThan-lg {
        display: none;
    }
}

/* === IMAGES === */
.imageBlock {
    width: 100%;
    height: 500px;
    background-color: grey;
}