@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Nunito:wght@200&display=swap');
@import "global/variables";
@import "global/colors";
@import "global/breakpoints";
@import "components/navbar";
@import "components/headers/hero-header";
@import "components/footer/footer";
@import "components/podcast-card/mini-podcast";

body {
    color: $font-deep-blue;
    font-family: 'Nunito', sans-serif;

    h2, h5 {
        font-family: 'Cormorant Garamond', serif;
    }

    h2 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    // Fixed size button
    .btn-primary {
        border-radius: 15px;
        padding: 12px 0 12px 0;
        width: 160px;
        font-size: 0.9rem;
        text-transform: uppercase;
        background-color: $font-deep-blue;
        border-color: $font-deep-blue;

        &:hover {
            background-color: lighten($font-deep-blue, 7%);
            border-color: lighten($font-deep-blue, 7%);
        }

        @include lessThan-lg {
            width: 100%;
        }
    }

    .social-icons {
        font-size: 2.5rem;
        color: $font-deep-blue;
        cursor: pointer;

        &:hover {
            color: lighten($font-deep-blue, 7%);
        }
    }

}

/* === SECTIONS === */
.normal-section {
    .section-text {
        p:last-child {
            // To have maximum control over element spacing (and avoid weird margins)
            margin-bottom: 0;
        }
    }

    // Used in about section
    .socials-group {
        display: flex;
        justify-content: flex-start;
        // margin-top: 15px;
        align-items: center;
        gap: 8%;
    
        @include lessThan-lg {
            justify-content: space-between;
        }
    }
}

// Section background color gradients
.bg-light-beige {
    background: linear-gradient(180deg, rgba(255, 246, 238, 1) 0%, rgba(252, 246, 236, 0) 100%);
}

.bg-light-green {
    background: linear-gradient(180deg, rgba(238, 243, 239, 1) 0%, rgba(252, 246, 236, 0) 100%);
}