<section class="c2a-section container-fluid text-center p-5 p-lg-5 {{ bg }}">
    <div class="row column-top gap-5">
        <!-- Include c2a content here-->
        {% if c2aType == "newsletter" %}
            {% include "pages/components/c2a-content/c2a_content_newsletter.html" %}
        {% elif c2aType == "meetings" %}
            {% include "pages/components/c2a-content/c2a_content_meetings.html" %}
        {% elif c2aType == "join" %}
            {% include "pages/components/c2a-content/c2a_content_join.html" %}
        {% endif %}
    </div> 
</section> 