<!--HELP ASIDE-->
<div class="container col-md-5 px-md-5 mt-5 mt-md-0">
    <div class="card mb-3" id="assistance-card">
        <div class="card-header">Avez-vous une question ?</div>
        <div class="card-body">
            <i class="bi bi-chat-dots-fill"></i>
            <p class="card-text">En cas de doute n'hésitez pas à me contacter, je me ferai une joie de vous guider et de répondre à vos questions.</p>
            <a href={% url 'contact' %} class="btn btn-primary" target="_blank">Contactez-moi</a>
        </div>
    </div>
</div>