{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "pages/components/page-header.html" with headerImgID="about-header" headerTitle="à propos" %}
    <!--SECTION BIO-->
    {% for section in sections_content %}
        {% if section.name_ID == "Bio" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--SECTION FOCUS-->
    {% for section in sections_content %}
        {% if section.name_ID == "Focus" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    <!--VIDEOS CAROUSEL-->
    {% include "pages/components/videos-section.html" with bg="bg-light-beige" %}
{% endblock content %}