{% extends "base.html" %}
{% load static %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "pages/components/page-header.html" with headerImgID="association-header" headerTitle="Association Les Invisibles" %}
    <!--ENGAGEMENTS-->
    {% for section in sections_content %}
        {% if section.name_ID == "Commitments" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--INSTAGRAM-->
    {% for section in sections_content %}
        {% if section.name_ID == "Instagram" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    <!--VISIBILISER-->
    {% for section in sections_content %}
        {% if section.name_ID == "Visibilise" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--PODCAST-->
    {% for section in sections_content %}
        {% if section.name_ID == "Podcast" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    <!--20'000 ECOUTES-->
    {% for section in sections_content %}
        {% if section.name_ID == "Streams" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--TEMOIGNAGES-->
    {% for section in sections_content %}
        {% if section.name_ID == "Testimonials" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    <!--COMPRENDRE-->
    {% for section in sections_content %}
        {% if section.name_ID == "Understanding" %}
            {% include "pages/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--CALL TO ACTION - JOIN ASSOCIATION -->
    {% include "pages/components/c2a-section.html" with c2aType="join" bg="bg-c2a-men1" %} 
{% endblock content %}