{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "website/components/page-header.html" with headerImgID="membership-header" headerTitle="Faire un don" %}
    <!--CONTENT-->
    {% for section in sections_content %}
        {% if section.name_ID == "Bienvenue" %}
            {% include "website/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    {% for section in sections_content %}
        {% if section.name_ID == "Comment" %}
            {% include "website/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    {% for section in sections_content %}
        {% if section.name_ID == "Pourquoi" %}
            {% include "website/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    {% for section in sections_content %}
        {% if section.name_ID == "Attestation" %}
            {% include "website/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
{% endblock content %}