{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "pages/components/page-header.html" with headerImgID="events-header" headerTitle="Rendez-vous" %}
    <!--CONTENT-->
    <section class="container-fluid text-center p-5 bg-light-beige">
        <div class="row p-lg-3">
            <div class="col-12 px-lg-5">
                <div class="section-text text-lg-start">
                    <p>Bienvenue sur la section rendez-vous de l'association les Invisibles. Nous sommes ravis de vous présenter les différents événements que nous organisons tout au long de l'année pour sensibiliser les gens aux maladies invisibles et pour collecter des fonds pour soutenir les personnes qui en souffrent. Nous organisons des vidéo-conférences et des ateliers pour discuter des défis auxquels sont confrontées les personnes atteintes de maladies invisibles, pour partager des expériences et pour offrir des conseils pratiques sur la façon de gérer ces maladies au quotidien.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid d-flex align-items-center flex-column p-5 bg-light-green">
        {% if events_content|length == 0 %}
            {% include "pages/components/no-content.html" with title="Rien de prévu" message="Il n'y a pas de rendez-vous à afficher pour le moment. Revenez plus tard, je suis sûr que vous trouverez votre bonheur !" bg="bg-light-green" %}
        {% endif %}
        {% for event in events_content %}
            <div class="event-cards">
                <div class="date-col">
                    <div class="date">{{ event.date|date:"j" }}</div>
                    <div class="month text-uppercase">{{ event.date|date:"M" }}</div>
                </div>
                <div class="infos-col">
                    <h5 class="card-title text-uppercase">{{ event.title }}</h5>
                    <div class="card-text">
                        {{ event.short_description }}
                        <span><a href="{% url 'event-detail' event.pk %}">En savoir plus</a></span>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex flex-column flex-md-row p-0 justify-content-start align-items-start align-items-center gap-4 gap-md-5">
                                <div class="time order-md-2"> 
                                    <i class="bi bi-clock"></i> <span>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</span>  
                                </div>
                                {% if event.is_talk_event %}
                                    <a 
                                        href="{% url "event-registration" event.pk %}" 
                                        class="btn btn-primary register-btn order-md-1 {% if event.is_fully_booked %}disabled{% endif %}" 
                                        role="button"
                                        {% if event.is_fully_booked %}aria-disabled="true"{% endif %}
                                    >
                                        {{ event.is_fully_booked|yesno:"Complet, S'inscrire" }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="time">
                        <a href={% url "event-registration" event.pk %} class="btn btn-primary" role="button">S'inscrire</a>
                        <i class="bi bi-clock"></i> <span>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</span>
                    </div> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}