{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "website/components/page-header.html" with headerImgID="association-header" headerTitle="Association Les Invisibles" %}
    <!--CONTENT-->
    <section class="normal-section container-fluid d-flex align-items-center flex-column p-5">
        <form methode="get" class="search-form">
            {% csrf_token %}
            <div id="search-input">
                {{ filter_form.form.keywords }}
            </div>
            <input type="submit" class="btn btn-primary" value="chercher" />
        </form>
        {% for ressource in ressources %}
            <div class="ressources-cards card mb-3">
                <div class="row g-0">
                    <div class="img-col col-md-4 p-4 d-flex justify-content-center align-items-center">
                        <img src="{{ ressource.image.url }}" class="img-thumbnail rounded-circle" alt="{{ ressource.image_alt }}" title="{{ data.image_title }}" height="" width="" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ ressource.title }}</h5>
                            <p class="card-text">
                                {{ ressource.description }}
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><small class="text-body-secondary"><b>Tél :</b> {{ ressource.phone|default:"- aucun téléphone -" }}</small></li>
                                <li class="list-group-item"><small class="text-body-secondary"><b>Adresse :</b> {{ ressource.address|default:" - aucune adresse -" }}</small></li>
                                {% if ressource.link %}
                                    <li class="list-group-item"><small class="text-body-secondary"><b>Web :</b> <a href="{{ ressource.link }}">{{ ressource.link }}</a></small></li>
                                {% else %}
                                    <li class="list-group-item"><small class="text-body-secondary"><b>Web :</b> - aucun lien -</small></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}
