{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "website/components/page-header.html" with headerImgID="association-header" headerTitle="Maladies Chroniques" %}
    <!--CHRONIC CONTENT (Filtered in the View)-->
    {% for section in sections_content %}
        {% if forloop.counter is not None and forloop.counter|divisibleby:2 %}
            {% include "website/components/section.html" with data=section bg="bg-light-green" %}
        {% else %}
            {% include "website/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
{% endblock content %}