<!-- Code from base.html to insert -->
{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HERO HEADER-->
    {% include "website/components/hero-header.html" %}
    <!--PODCAST CARDS-->
    {% include "website/components/podcast-section.html" with bg="bg-light-green" %}
    <!--SECTION ABOUT-->
    {% for section in sections_content %}
        {% if section.name_ID == "About" %}
            {% include "website/components/about-section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--CALL TO ACTION - NEWSLETTER-->
    {% include "website/components/c2a-section.html" with c2aType="newsletter" bg="bg-c2a-woman1" %}
     <!--SECTION BOOK-->
    {% for section in sections_content %}
        {% if section.name_ID == "Book" %}
            {% include "website/components/section.html" with data=section bg="bg-light-green" %}
        {% endif %}
    {% endfor %}
    <!--CALL TO ACTION - MEETINGS-->
    {% include "website/components/c2a-section.html" with c2aType="meetings" bg="bg-c2a-hands" %}
    <!--CONTACT SECTION-->
    {% include "website/components/contact-section.html" with data=contact_content bg="bg-light-beige" %}
    
{% endblock content %}
