<!-- Code from base.html to insert -->
{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HERO HEADER-->
    {% include "website/components/hero-header.html" %}
    <!--PODCAST CARDS-->
    {% comment %} {% include "website/components/podcast-carousel.html" %} {% endcomment %}
    <!--SECTIONS-->
    {% for section in object_list %}
            <li>{{ section.title }}</li>
    {% endfor %}
    
    {% include "website/components/normal-section.html" with title="HELLO" %}
    {% include "website/components/normal-section.html" with title="YOU MY DEAR" %}
    <!--SECTION-->
    
    {% endblock content %}
