{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "website/components/page-header.html" with headerImgID="membership-header" headerTitle="Devenir membre" %}
    <!--CONTENT-->
    {% comment %} {% include "website/components/no-content.html" with title="En construction" message="Cette section est en construction, on vous tient au courant dès que c'est prêt ! C'est promis :-)" bg="bg-light-beige" %} {% endcomment %}
    {% for section in sections_content %}
        {% if forloop.counter is not None and forloop.counter|divisibleby:2 %}
            {% include "website/components/section.html" with data=section bg="bg-light-green" %}
        {% else %}
            {% include "website/components/section.html" with data=section bg="bg-light-beige" %}
        {% endif %}
    {% endfor %}
    <!--FORM-->
    {% include "website/components/membership-form.html" with bg="bg-light-green" %}
{% endblock content %}