{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% include "website/components/page-header.html" with headerImgID="membership-header" headerTitle="Devenir membre" %}
    <!--CONTENT-->
    {% comment %} {% include "website/components/no-content.html" with title="En construction" message="Cette section est en construction, on vous tient au courant dès que c'est prêt ! C'est promis :-)" bg="bg-light-beige" %} {% endcomment %}
    <!--FORM-->
    {% include "website/components/membership-form.html" with bg="bg-light-green" %}
{% endblock content %}