{% extends "base.html" %}
<!--Unique code from the page-->
{% block content %}
    <!--HEADER-->
    {% if request.resolver_match.url_name == "admin-ressources" %}
        {% include "website/components/page-header.html" with headerImgID="ressources-header" headerTitle="Ressources administratives" %}
    {% elif request.resolver_match.url_name == "therapeutic-ressources" %}
        {% include "website/components/page-header.html" with headerImgID="ressources-header" headerTitle="Ressources thérapeutiques" %}
    {% elif request.resolver_match.url_name == "financial-ressources" %}
        {% include "website/components/page-header.html" with headerImgID="ressources-header" headerTitle="Ressources financières" %}
    {% endif %}
    <!--CONTENT-->
    <section class="container-fluid text-center p-5 bg-light-beige">
        <div class="row p-lg-3">
            <div class="col-12 px-lg-5">
                <div class="section-text text-lg-start">
                    <p>L’Association Les invisibles s’engage à créer un carnet d’adresse de ressources thérapeutiques et administratives. Les personnes, institutions et entreprises nommées sont sensibilisées aux questions des maladies et symptômes invisibles. Elles offrent des espaces de bienveillance, d’écoute et de respect. Elles se distinguent par leur empathie, leur capacité d’écoute et leur désir d’accompagner les patient·es vers une plus grande qualité de vie.</p>
                    <p>Une bibliothèque dédiée aux livres, vidéos, conférences… vient accompagner la liste des ressources !</p>
                    <p>Les personnes ressources sont recommandées par nos membres et sont au courant de notre démarche et de leur présence sur notre site. Cependant, l’Association Les invisibles agit en tant qu’intermédiaire et ne peut être tenue responsable des résultats ou des expériences individuelles découlant des interactions entre les membres et les personnes ressources suggérées.</p>
                    <p>Vous avez des personnes, des lieux ressources ou des outils à nous recommander ? Merci de nous écrire via le <a href="{% url 'contact' %}">formulaire de contact !</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid d-flex align-items-center flex-column p-5 bg-light-green">
        <!--Form-->
        <form methode="get" class="search-form mb-5">
            {% csrf_token %}
            <div id="search-input">
                {{ filter_form.form.keywords }}
            </div>
            <input type="submit" id="search-res-btn" class="btn btn-primary" value="chercher" />
        </form>
        <!--Ressources list-->
        {% if ressources|length == 0 %}
            <div class="alert alert-warning" role="alert">
                Aucune ressource ne correspond à votre recherche.
            </div>
        {% endif %}
        {% for ressource in ressources %}
            <div class="ressources-cards">
                <div class="image-col">
                    <img src="{{ ressource.image.url }}" class="img-thumbnail rounded-circle" alt="{{ ressource.image_alt }}" title="{{ data.image_title }}" height="" width="" />
                </div>
                <div class="infos-col">
                    <h5 class="card-title text-uppercase">{{ ressource.title }}</h5>
                    <div class="card-text">
                        {{ ressource.description|linebreaks }}
                    </div>
                    <ul class="list-group list-group-flush text-start text-break">
                        <li class="list-group-item"><small class="text-body-secondary"><b>Tél :</b> {{ ressource.phone|default:"- aucun téléphone -" }}</small></li>
                        <li class="list-group-item"><small class="text-body-secondary"><b>Adresse :</b> {{ ressource.address|default:" - aucune adresse -" }}</small></li>
                        {% if ressource.link %}
                            <li class="list-group-item"><small class="text-body-secondary"><b>Web :</b> <a href="{{ ressource.link }}" target="_blank">{{ ressource.link }}</a></small></li>
                        {% else %}
                            <li class="list-group-item"><small class="text-body-secondary"><b>Web :</b> - aucun lien -</small></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}